<ion-header>
  <ion-toolbar color="success">
    <ion-title >Historia clínica</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="card-agenda" >
    <div class="ion-padding-bottom">
      <ion-button expand="block" color="secondary"  (click)="openModal()">buscar paciente</ion-button>
    </div>
  </div>

 
  <div class="ion-text-center ion-padding ion-padding-bottom">
    <!-- Crescent -->
    <ion-spinner name="crescent" color="primary" *ngIf="loading"></ion-spinner>
  </div>

  <div class="card-agenda" *ngIf="this.paciente_id">
    <div class="ion-padding-bottom">
      <ion-button expand="block" (click)="agregarHistoria()">AGregar historia clinica</ion-button>
    </div>
  </div>

  <ion-card class="card-agenda" *ngFor="let col of elementos"  >
  
    <ion-card-header >
    
     
      <ion-card-subtitle>
       <label class="text-info">Fecha :</label>    {{col.FECHA | date: 'dd/MM/yyyy'}}
      </ion-card-subtitle>
      
      <ion-card-subtitle  *ngIf="col.AF">
        <label class="text-info">Antecedentes familiares :</label>   {{col.AF}}      
      </ion-card-subtitle>
      <ion-card-subtitle *ngIf="col.APP">
        <label class="text-info">Antecedentes patológicos personales :</label>  {{col.APP}}      
      </ion-card-subtitle>  
      <ion-card-subtitle  *ngIf="col.MC">
        <label class="text-info">Motivo consulta :</label>   {{col.MC}}      
      </ion-card-subtitle>  
    </ion-card-header>
  
   
    <ion-card-content>
      <ion-card-subtitle  *ngIf="col.OBSERVACION">
        <label class="text-info">Observación :</label>    {{col.OBSERVACION}}
      </ion-card-subtitle>
      <ion-card-subtitle  *ngIf="col.SINTOMAS">
        <label class="text-info">Sintomas :</label>    {{col.SINTOMAS}}
      </ion-card-subtitle>
      <ion-card-subtitle *ngIf="col.MEDICACION">
        <label class="text-info"> Medicación :</label>    {{col.MEDICACION}} 
      </ion-card-subtitle>
      <ion-card-subtitle *ngIf="col.DIAGNOSTICO">
        <label class="text-info">Diagnostico :</label>    {{col.DIAGNOSTICO}} 
      </ion-card-subtitle>
      <ion-card-subtitle  *ngIf="col.TRATAMIENTO">
        <label class="text-info">Tratamiento :</label>    {{col.TRATAMIENTO}}
      </ion-card-subtitle >
      <ion-card-subtitle *ngIf="col.estudio_id">
        <label class="text-info">Fecha :</label>    Estudios 
      <ion-button expand="block">Ver estudio</ion-button>
    </ion-card-subtitle>
      </ion-card-content>
 
  </ion-card>
</ion-content>
