<ion-tabs  >

  <ion-tab-bar slot="bottom" color="success">
    <ion-tab-button tab="tabagenda">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Agenda</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tabturno">
      <ion-icon name="bookmarks"></ion-icon>
      <ion-label>Turnos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tabhistoriaclinica">
      <ion-icon name="medkit"></ion-icon>
      <ion-label>Historia clínica</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tabajustes">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Ajustes</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
